


h1{
    color:black;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    text-align-last: center;
    margin-top: 50px;
  }

form {
    display: grid;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: 2rem auto 0 auto;
    max-width: 300px;
    padding: 1em;
    
}
form input {
    background: #fff;
    border: 1px solid #9c9c9c;
}


button {
    
    padding: 0.7em;
    width: 100%;
    border: 0;
    background-color: dodgerblue;
    color: white;
    margin: 30px;
    margin-left: 2px;
    height: 30px;
  }


  form button:hover {
    background: #c1c1c1;
  }

label {
    padding: 0.5em 0.5em 0.5em 0;
  }
  
  input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  input:focus {
    outline: 2px solid dodgerblue;
  }
  
  @media (min-width: 400px) {
    form {
      grid-template-columns: 100px 1fr;
      grid-gap: 16px;
    }
  
    label {
      text-align: right;
      grid-column: 1 / 2;
    }
  
    input,
    button {
      grid-column: 1 / 3;
    }
    
  }  

    .box{
      margin-left: 100px;
      margin-top: 20px;
      text-justify: distribute;
    }
 

  /* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}
  
  /* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.check-content {

  text-align: center;
}

